# Obsidian
.obsidian/

# IDE
.settings/
.metadata/
*.launch
ml_pipeline/.idea/

# meta data
.mxproject

# CubeMX build artifacts
**/Debug/

# temps
*.o
*.obj
*.d
*.su
*.elf
*.axf
*.map
*.list
*.hex
*.bin
!embedded/STM32N6570DK/FSBL/Assets/AI/
!embedded/STM32N6570DK/FSBL/Assets/AI/*.bin
*.srec
*.log
*.tmp
*.bak
*.swp
*.cache

# ST Edge AI intermediate build output
models/st_ai_output/*
!models/st_ai_output/.gitkeep
models/st_ai_ws/*
!models/st_ai_ws/.gitkeep

# Executables / binaries
*.exe
*.out
*.dll

# Python cache
ml_pipeline/__pycache__/
ml_pipeline/**/*.pyc

# Virtual environment
ml_pipeline/venv/

# Raw Videos & Generated gesture data
ml_pipeline/resources/videos_prototype/*
ml_pipeline/resources/gestures/*
ml_pipeline/resources/training_data.pkl

# Trained models
ml_pipeline/model/*.h5
ml_pipeline/model/*.pt
/ml_pipeline/.venv

STM32N6570DK_LL/STM32N6570DK_TEST
STM32N6570DK_LL/STM32N6570DK/FSBL/Debug/
STM32N6570DK_LL/STM32N6570DK/APPLI/Debug/
